<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoswagger.mapper.StudentMapper">

    <select id="getAll" resultType="com.example.demoswagger.model.Student">
        select * from students;
    </select>
    <select id="getStudentByName" resultType="com.example.demoswagger.model.Student">
        select * from students where name = #{name}
    </select>
    <select id="getStudentByClass" resultType="com.example.demoswagger.model.Student">
        select * from students where cls = #{className}
    </select>
    <select id="getStudentByCountry" resultType="com.example.demoswagger.model.Student">
        select * from students where country = #{country}
    </select>
</mapper>